/* ############# grid system ############# */

/* responsive */

.col-0 {
  width: 0%;
}
.col-1 {
  width: 1%;
}
.col-2_5 {
  width: 2.5%;
}
.col-4 {
  width: 4%;
}
.col-5 {
  width: 5%;
}
.col-10 {
  width: 10%;
}
.col-12_5 {
  width: 12.5%;
}
.col-15 {
  width: 15%;
}
.col-20 {
  width: 20%;
}
.col-25 {
  width: 25%;
}
.col-30 {
  width: 30%;
}
.col-33 {
  width: 33.33%;
}
.col-35 {
  width: 35%;
}
.col-37_5 {
  width: 37.5%;
}
.col-40 {
  width: 40%;
}
.col-45 {
  width: 40%;
}
.col-50 {
  width: 50%;
}
.col-55 {
  width: 55%;
}
.col-60 {
  width: 60%;
}
.col-62_5 {
  width: 62.5%;
}
.col-66 {
  width: 66.66%;
}
.col-65 {
  width: 65%;
}
.col-70 {
  width: 70%;
}
.col-75 {
  width: 75%;
}
.col-80 {
  width: 80%;
}
.col-85 {
  width: 85%;
}
.col-87_5 {
  width: 87.5%;
}
.col-90 {
  width: 90%;
}
.col-95 {
  width: 95%;
}
.col-100 {
  width: 100%;
}

.align-right {
	text-align:right;
}

.align-center {
	text-align:center;
}

.l-hidden {
	display:none;
}

.l-show {
  display: inline-block;
}

/* tablet sizes */
@media (min-width: 950px) and (max-width: 1540px) {

  .col-m-0 {
    width: 0%;
  }
  .col-m-5 {
    width: 5%;
  }
  .col-m-10 {
    width: 10%;
  }
  .col-m-12_5 {
    width: 12.5%;
  }
  .col-m-15 {
    width: 15%;
  }
  .col-m-20 {
    width: 20%;
  }
  .col-m-25 {
    width: 25%;
  }
  .col-m-30 {
    width: 30%;
  }
  .col-m-33 {
    width: 33.33%;
  }
  .col-m-35 {
    width: 35%;
  }
  .col-m-37_5 {
    width: 37.5%;
  }
  .col-m-40 {
    width: 40%;
  }
  .col-m-45 {
    width: 40%;
  }
  .col-m-50 {
    width: 50%;
  }
  .col-m-55 {
    width: 55%;
  }
  .col-m-60 {
    width: 60%;
  }
  .col-m-62_5 {
    width: 62.5%;
  }
  .col-m-66 {
    width: 66.66%;
  }
  .col-m-65 {
    width: 65%;
  }
  .col-m-70 {
    width: 70%;
  }
  .col-m-75 {
    width: 75%;
  }
  .col-m-80 {
    width: 80%;
  }
  .col-m-85 {
    width: 85%;
  }
  .col-m-87_5 {
    width: 87.5%;
  }
  .col-m-90 {
    width: 90%;
  }
  .col-m-95 {
    width: 95%;
  }
  .col-m-100 {
    width: 100%;
  }

  .align-m-right {
  	text-align:right;
  }

  .align-m-center {
  	text-align:center;
  }

  .m-hidden {
  	display:none!important;
  }

  .m-show {
    display: inline-block!important;
  }
}

/* phone sizes */
@media (max-width: 950px) {

  .col-s-0 {
    width: 0%;
  }
  .col-s-5 {
    width: 5%;
  }
  .col-s-10 {
    width: 10%;
  }
  .col-s-12_5 {
    width: 12.5%;
  }
  .col-s-15 {
    width: 15%;
  }
  .col-s-20 {
    width: 20%;
  }
  .col-s-25 {
    width: 25%;
  }
  .col-s-30 {
    width: 30%;
  }
  .col-s-33 {
    width: 33.33%;
  }
  .col-s-35 {
    width: 35%;
  }
  .col-s-37_5 {
    width: 37.5%;
  }
  .col-s-40 {
    width: 40%;
  }
  .col-s-45 {
    width: 40%;
  }
  .col-s-50 {
    width: 50%;
  }
  .col-s-55 {
    width: 55%;
  }
  .col-s-60 {
    width: 60%;
  }
  .col-s-62_5 {
    width: 62.5%;
  }
  .col-s-66 {
    width: 66.66%;
  }
  .col-s-65 {
    width: 65%;
  }
  .col-s-70 {
    width: 70%;
  }
  .col-s-75 {
    width: 75%;
  }
  .col-s-80 {
    width: 80%;
  }
  .col-s-85 {
    width: 85%;
  }
  .col-s-87_5 {
    width: 87.5%;
  }
  .col-s-90 {
    width: 90%;
  }
  .col-s-95 {
    width: 95%;
  }
  .col-s-100 {
    width: 100%;
  }

  .align-s-right {
  	text-align:right;
  }

  .align-s-center {
  	text-align:center;
  }

  .s-hidden {
  	display:none!important;
  }

  .s-show {
    display: inline-block!important;
  }
}

.padding {
  padding: 10px;
}

.padding-bottom {
  margin-bottom: 15px;
}

.padding-top{
  top-margin: 15px;
}

.margin {
  margin: 10px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-top{
  top-margin: 15px;
}

.border-left {
  border-left: 1px solid #132026;
}

.border-right {
  border-right: 1px solid #132026;
}

.border-top {
  border-top: 1px solid #132026;
}

.border-bottom {
  border-bottom: 1px solid #132026;
}

/* ################ FLEX GUIDE ################ */

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.nowrap  {
  flex-wrap: nowrap;
}

.wrap    {
  flex-wrap: wrap;
}

/* ------------- end responsive ------------- */
/* ########################################## */
/* ########################################## */
/* ########################################## */
/* ########################################## */

body {
  font-family: Helvetica, Arial, Sans-serif;
  background: #f1f1f1;
  color: #fff;
  height: 100vh;
}

div {
   box-sizing: border-box;
}

h2,
h3,
h4 {
  font-family: America, sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.blue,
a {
  color: rgb(125, 192, 237);
  text-decoration: none;
}

.orange {
  color: #eba91b;
}

[type="submit"],
textarea,
input {
  display: block;
  border-radius: 4px;
  border: none;
  margin: 2px;
  padding: 10px 7px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

[type="submit"] {
  background: #F96854;
  font-weight: bold;
  color: #fff;
}

.version-buttons {
  text-align: center;
  border-top: 1px solid #2b3b4a;
  padding: 10px 0px;
  margin-bottom: -7px;
}

/* ######### header styles ########## */

nav {
  height: 40px;
  font-family: America, sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #dddddd;
  background: #1E333C;
}

.header-content {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-content-left .logo-header {
  height: 35px;
  margin: 4px;
}

.nav-content-right {
  justify-content: flex-end;
}

.nav-content-right .nav-links {
  align-items: center;
}

.nav-content-right .nav-links a {
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  text-align:center;
  color: #fff;
  text-decoration: none;
  height: 100%;
  margin: 0 15px;
  text-transform: capitalize;
  align-items: center;
}

.nav-content-right .nav-links a:hover {
 color: #F96854;
}

.nav-content-right .nav-links a img {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  margin: 0 15px;
}

.header-display {
  height: 300px;
  width: 100%;
  flex-direction: column-reverse;
  background: rgb(162,51,152);
  background: linear-gradient(122deg, rgba(162,51,152,1) 0%, rgba(237,47,74,1) 57%, rgba(249,104,84,1) 77%, rgba(254,59,0,1) 100%);
  background-repeat: no-repeat;
}

.profile-blurb {
  box-sizing: border-box;
  margin-right: 20px;
}

.profile-blurb img {
  border-radius: 150px;
  width: 150px;
  height: 150px;
  border: 6px solid #fff;
}

.header-stats {
  width: 100%;
  background: #fff;
  height: 70px;
  box-shadow: 0px 0px 6px -1px rgba(0,0,0,1);
  justify-content: center;
}

.header-stats-content {
  max-width: 1340px;
  justify-content: space-between;
}

.header-stats-content a {
  color: #222;
  font-weight: bold;
  font-weight: 15px;
  display: block;
  padding: 4px;
  text-align: center;
}

.header-stats-content button {
    display: inline-block;
    border: none;
    padding: 0px 25px;
    margin: 0;
    text-decoration: none;
    background: rgb(162,51,152);
    background: linear-gradient(122deg, rgba(162,51,152,1) 0%, rgba(236,64,38,1) 0%, rgba(249,104,84,1) 100%, rgba(254,0,120,1) 100%);
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border: 3px solid #F96854;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.header-stats-content button:hover,
.header-stats-content button:focus {
    background: #fff;
    color: #F96854;
}

.header-stats-content button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.header-stats-content button:active {
    transform: scale(0.99);
}

.form-email {
  display: none;
}
/* ########### home page ########## */

.home-content {
  max-width: 1340px;
  margin: 0 auto;
}

.profile-wrapper {
  margin-top: 30px;
}

.profile-wrapper h4 {
  font-weight: bold;
  font-size: 17px;
}

.profile-view {

}

.profile-sidebar {
  min-width: 250px;
  justify-content: center;
}

.profile-main {
  flex-direction: column;
  width: 800px;
  background: #1B2D35;
}

.profile-tools {
  flex-grow: 1;
}

.profile-sidebar,
.profile-main,
.profile-tools {
  justify-content: center;
}

.profile-sidebar-content {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin: 0 10px;
  background: #fff;
  color: #333;
}

.profile-item {
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
  margin-top: 5px;
  border-bottom: 1px solid #2F4D5A;
}

.profile-item a {
  color: #F96854;
}

.post-side {
  padding: 0 5px;
}

.post-side img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.post-body {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0px 20px 10px 10px;
}

.post-body h4 {
  display: inline;
}

.profile-tools form {
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
}

.profile-tools form input,
.profile-tools form textarea {
  width: 100%;

}
