/* ############# grid system ############# */

.f-left {
  float: left;
}

.f-right {
  float: right;
}

/* responsive */

.align-right {
	text-align:right;
}

.align-center {
	text-align:center;
}

.l-hidden {
	display:none;
}

.l-show {
  display: inline-block;
}

/* tablet sizes */
@media (min-width: 950px) and (max-width: 1540px) {

  .align-m-right {
  	text-align:right;
  }

  .align-m-center {
  	text-align:center;
  }

  .m-hidden {
  	display:none!important;
  }

  .m-show {
    display: inline-block!important;
  }
}

/* phone sizes */
@media (max-width: 950px) {

  .align-s-right {
  	text-align:right;
  }

  .align-s-center {
  	text-align:center;
  }

  .s-hidden {
  	display:none!important;
  }

  .s-show {
    display: inline-block!important;
  }
}

.padding {
  padding: 10px;
}

.padding-bottom {
  margin-bottom: 15px;
}

.padding-top{
  top-margin: 15px;
}

.margin {
  margin: 10px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-top{
  top-margin: 15px;
}

.border-left {
  border-left: 1px solid #132026;
}

.border-right {
  border-right: 1px solid #132026;
}

.border-top {
  border-top: 1px solid #132026;
}

.border-bottom {
  border-bottom: 1px solid #132026;
}

/* ################ FLEX GUIDE ################ */

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.nowrap  {
  flex-wrap: nowrap;
}

.wrap    {
  flex-wrap: wrap;
}

/* ------------- end responsive ------------- */
/* ########################################## */
/* ########################################## */
/* ########################################## */
/* ########################################## */

body {
  font-family: Helvetica, Arial, Sans-serif;
  background: #1B2D35;
  color: #fff;
}

div {
   box-sizing: border-box;
}

h2,
h3,
h4 {
  font-family: America, sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.blue,
a {
  color: rgb(125, 192, 237);
  text-decoration: none;
}

.orange {
  color: #eba91b;
}

[type="submit"],
textarea,
input {
  display: block;
  border-radius: 4px;
  border: none;
  margin: 2px;
  padding: 10px 7px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.version-buttons {
  text-align: center;
  border-top: 1px solid #2b3b4a;
  padding: 10px 0px;
  margin-bottom: -7px;
}

/* ######### header styles ########## */

nav {
  height: 55px;
  font-family: America, sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #dddddd;
  background: #1E333C;
}

.header-content {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-content-left .logo-header {
  height: 50px;
  margin: 4px;
}

.nav-content-right {
  justify-content: flex-end;
}

.nav-content-right .nav-links {
  align-items: center;
}

.nav-content-right .nav-links a {
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  text-align:center;
  color: #fff;
  text-decoration: none;
  height: 100%;
  margin: 0 15px;
  text-transform: capitalize;
  align-items: center;
}

.nav-content-right .nav-links a:hover {
 color: #F96854;
}

.nav-content-right .nav-links a img {
  height: 45px;
  width: 45px;
  border-radius: 50px;
  margin: 0 15px;
}

.form-email {
  display: none;
}
/* ########### home page ########## */

.home-content {
  max-width: 1340px;
  margin: 0 auto;
}

.profile-sidebar {
  flex-grow: 1;
}

.profile-main {
  flex-grow: 2;
  flex-direction: column;
}

.profile-tools {
  flex-grow: 2;
}

.profile-item {
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #2F4D5A;
}

.profile-item a {
  color: #F96854;

}
